.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.modal {
  background-color: firebrick;
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 10%;
  width: 80%;
  padding: 2rem;
  border-radius: 30px;
  overflow: auto;
  z-index: 20;
}

.cart-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: inherit;
  max-height: 20rem;
  overflow: auto;
}

/* .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 1rem;
  border-bottom: 2px solid firebrick;
  border-radius: 10px;
}

.item-heading {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  word-break: break-word;
}

.item-info {
  width: 10rem;
  margin-right: 1rem;
}

.item-amount {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
}

.item-price {
  color: firebrick;
}

.item-quantity {
  background: lightgrey;
  padding: 0.2rem;
  border: 1px solid black;
}

.set-quantity {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .set-quantity {
    flex-direction: row;
  }
}

.quantity-button {
  font-weight: bold;
  font-size: 1.2rem;
  width: 2rem;
  margin: 0 0.5rem 0.5rem 0;
} */

.footer {
  margin: 0.5rem 0;
  font-weight: bold;
  color: white;
  font-size: 1.25rem;
}

.bill {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.place-order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-button {
  padding: 0.2rem 0.4rem;
  font: inherit;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: white;
  color: firebrick;
}

.confirm-button {
  padding: 0.3rem 0.5rem;
  font: inherit;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: gold;
  color: darkred;
  border: 3px solid white;
}
